name: CI/CD and Docker

on: 
  push: 
    branches: 
      - main
 
jobs: 
  build-and-push: 
    name: Build & Push Docker Image 
    runs-on: ubuntu-latest
 
    steps: 
      # 1. Lấy source code từ GitHub 
      - name: Checkout source code 
        uses: actions/checkout@v4 
      # 2. Chuẩn bị môi trường build Docker 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3 
      # 3. Đăng nhập Docker Hub (dùng GitHub Secrets) 
      - name: Login to Docker Hub 
        uses: docker/login-action@v3 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }} 
          password: ${{ secrets.DOCKERHUB_TOKEN }} 
      # 4. Build Docker image và push lên Docker Hub, lưu ý trường tags: có dạng dockerhub-username/image-name:tag 
      # Ví dụ nếu tên tài khoản dockerhub của bạn là lamdb => đặt là lamdb/it4409-sample:staging chẳng hạn 
      - name: Build and push Docker image 
        uses: docker/build-push-action@v5 
        with: 
          context: ./backend
          file: ./backend/Dockerfile 
          push: true 
          tags: huuhoang302/it4409-usermanagement:staging 